@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15+Charted&family=Jersey+25&display=swap');
.jersey-25-regular {
    font-family: "Jersey 25", serif;
    font-weight: 100;
    font-style: normal;
  }  
  
* {
    padding: 0px;
    margin: 0px;
}

:root {
    --corheader: #023E74;
    --cordiv1: #B9B9B9;
    --fonteheader: 'Jersey 25',Arial,sans-serif;
}

body {
    display: flex;
}

.header1 {
    background-color: var(--corheader);
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.39);
}
.header1 h1{
    font-family: var(--fonteheader);
    font-size: 2.5em;
}

.divlogin {
    background-color: var(--cordiv1);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
    height: 40vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.39);
}

.divlogin h2{
    font-size: 30pt;
    margin-bottom: 50px;
    margin-top: 20px;
}
/* .divlogin form{
    line-height: 40px;
} */
.divlogin input{
    border-radius: 10px;
    border: 1px solid beige;
    padding: 10px 1px 10px 13px;
    margin-bottom: 20px;
    width: 50%;
}
.divlogin button{
    padding: 5px 9px 5px 9px;
    margin-bottom: 10px;
}
.divlogin a{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}